<h1>Tickets</h1> 


<!-- Grupo de botones redondos -->
<ul class="button-group round">
  <li><a href="#"><%= link_to 'Abiertos', abierto_path("abierto"), class: 'button tiny' %></a></li>
  <li><a href="#"><%= link_to 'Cerrados', cerrado_path("cerrado"), class: 'button tiny' %></a></li>
  <li><a href="#"><%= link_to 'Nuevo Ticket', new_trouble_path, class: 'button tiny' %></a></li>
</ul>

<!-- Fin grupo de botones redondos -->



<table>
  <tr>
    
    <th>Problema o solicitud</th>
    <th>Sucursal</th>
    <th>Usuario</th>
    <th>Importancia</th>
    <th>Estatus</th>
    <th>Categoria</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @troubles.each do |trouble| %>
  <tr>
  <div class="row">
    <div class="columns large-9 medium-6">
    <td><%= link_to trouble.title, trouble %></td>
    <td><%= trouble.client.name %></td>
    <td><%= trouble.user.name %> - <em><%= time_ago_in_words(trouble.created_at) %> ago</em></td>
    <td><%= trouble.severity %></td>
    <td><%= trouble.state %></td>
    <td><%= trouble.category %></td>
    <td><%= link_to 'Editar', edit_trouble_path(trouble) %></td>
    <td><%= link_to 'Eliminar', trouble, method: :delete, data: { confirm: 'Desea eliminar este ticket?' } %></td>
  </tr>
<% end %>
</table>

<br />



<%= will_paginate @troubles %>



