<!-- Despliega el modals de informacion importante -->
<a href="#" data-reveal-id="firstModal" class="radius button"><%= @trouble.title %></a>


<!-- Inicio del Modal -->
<div id="firstModal" class="reveal-modal" data-reveal>



  <% if @trouble.image? %>
<%= image_tag @trouble.image.url(:thumb) %>
<br />
<%= link_to @trouble.image.url, @trouble.image.url %>


<% end %>

<p>
  <strong>Titulo del problema o requerimiento:</strong>
  <h5><strong><%= @trouble.title %></strong></h5>
</p>
 
<p>
  <strong>Descripcion del problema o requerimiento:</strong>
  <h5><strong><%= @trouble.text %></strong></h5>
</p>

<p>
<%= @trouble.created_at.strftime("%b %d %Y a las %I:%M %p") %>
</p>

<p>
  <b>Usuario:</b>
  <%= @trouble.user.name %>
</p>

<p>
  <b>Importancia:</b>
  <%= @trouble.severity %>
</p>

<p>
  <b>Estatus:</b>
  <%= @trouble.state %>
</p>

<p>
  <b>Categoria:</b>
  <%= @trouble.category %>
</p>

<hr>



  <p><a href="#" data-reveal-id="secondModal" class="secondary button">Aportar solucion...</a></p>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="secondModal" class="reveal-modal" data-reveal>



  <h2>Agregar solucion:</h2>
<%= render 'coments/form' %>
 
<%= link_to 'Editar', edit_trouble_path(@trouble) %>
<%= link_to 'Atras', troubles_path %>


  <a class="close-reveal-modal">&#215;</a>
</div>

  <a class="close-reveal-modal">&#215;</a>
</div>
  <a class="close-reveal-modal">&#215;</a>
</div>

  <a class="close-reveal-modal">&#215;</a>
</div>
<!-- Fin del Modal -->