<ul class="inline-list">
<right><h4><%= link_to 'Nuevo Empleado', new_employee_path %></h4></right>
</ul>

<%= image_tag "empleado.png" %>

<ul>

</ul>

<%= form_tag({:controller => "employees", :action => "index"}, :method => :get) do %>

    <%= text_field_tag "searchbox", params[:searchbox] %>

    <%= submit_tag "Buscar", class: 'button tiny' %>

<% end %>






<% @employees.each do |employee| %>
<hr>
  <h3><%= link_to employee.nombres, employee %><td> <%= link_to employee.apellidos, employee %></td></h3>

<div class="row">
 <div class="columns large-9 medium-6">

 

    <td><%= image_tag employee.image.url(:thumb) %></td>
    <td><%= employee.encargado %></td><td>  
    <td><%= link_to employee.sucursal, employee %></td> 
   </div>


    
    <div class="columns large-3 medium-6">
    
    <ul class="inline-list">
    
    <li><%= link_to 'Editar', edit_employee_path(employee) %></li>
    <li><%= link_to 'Eliminar', employee, method: :delete, data: { confirm: 'Desea eliminar este empleado?' } %></li>
  </ul>

</div>
</div>


<% end %>


<br/>











































