<center><h3>Gestion de Conocimiento de Rogger</h3></center> <right><h4><%= link_to 'Nuevo aporte', new_article_path %></h4></right>

<%= image_tag "articles.jpg" %>
<%= form_tag({:controller => "articles", :action => "index"}, :method => :get) do %>

<p></p>

    <%= text_field_tag "searchbox", params[:searchbox] %>

    <%= submit_tag "Buscar", class: 'button' %>

<% end %>

<!-- Contador de aportes --> 
<!-- <%= @articles_count %> --> 

<p></p>







<% @articles.each do |article| %>
<hr>
 <div class="row">
 <div class="columns large-9 medium-6">
 <h3><%= link_to article.title, article %></h3>
    <blockquote>
       <cite><%= article.user.name %> - <em><%= time_ago_in_words(article.created_at) %> ago</em></cite>
    </blockquote>
  </div>


   <div class="columns large-3 medium-6">
   
<ul class="inline-list">
    <li><%= link_to 'Editar', edit_article_path(article) %></li>
    <li><%= link_to 'Eliminar', article, method: :delete, data: { confirm: 'Desea eliminar este aporte?' } %></li>
    </ul>
    </div>
    </div>
<% end %>








