
<hr>

<p>
  <strong>Titulo de la solucion:</strong>
  <%= coment.commenter %>
</p>
 
<p>
  <strong>Descripcion de la solucion:</strong>
  <%= coment.body %>
</p>



<p>
  <b>Usuario:</b>
  <%= @trouble.user.name %>
</p>

<p>
<%= coment.created_at.strftime("%b %d %Y a las %I:%M %p") %>
</p>
 
<p>
  <%= link_to 'Destruir Solucion', [coment.trouble, coment],
               method: :delete,
               data: { confirm: 'Desea eliminar?' } %>
</p>