<%= image_tag "Bannernewa.png" %>
<div class="panel">
  
  

<%= image_tag "bsjbig.jpg" %>




<!-- Despliega el modals de informacion importante -->
<a href="#" data-reveal-id="firstModal" class="radius button">Informacion Importante&hellip;</a>


<!-- Inicio del Modal -->
<div id="firstModal" class="reveal-modal" data-reveal>
  <h2>Bienvenido a Micropost-BSJ.</h2>
  <p>Micropost-BSJ es un sistema que permite el intercambio de información dentro de la Organización, facilitando la adquisición y procesamiento del conocimiento generado en la institución. Este sistema fue diseñado para permitir que sean los mismos trabajadores los encargados de generar el conocimiento y compartirlo a traves de esta plataforma desarrollada como una micro red social de trabajo colaborativo <code></code>. Esperamos que su experiencia aqui sea lo mas grata, intuitiva y simple posible.</p>
  <p>Haga click en cualquier parte fuera de esta ventana para cerrarla o continuar para seguir leyendo.</p>
  <p><a href="#" data-reveal-id="secondModal" class="secondary button">Continuar leyendo...</a></p>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="secondModal" class="reveal-modal" data-reveal>
  <h2>Gestion de Conocimiento</h2>
  <p>La gestión del conocimiento (del inglés knowledge management) es un concepto aplicado en las organizaciones. Tiene el fin de transferir el conocimiento desde el lugar donde se genera hasta el lugar en dónde se va a emplear, e implica el desarrollo de las competencias necesarias al interior de las organizaciones para compartirlo y utilizarlo entre sus miembros, así como para valorarlo y asimilarlo si se encuentra en el exterior de éstas.

En el ámbito organizacional la gestión del conocimiento se enfoca en que cada uno en la organización sepa lo que el otro conoce con el objetivo de mejorar los rendimientos de las organizaciones.</p>
  <a class="close-reveal-modal">&#215;</a>
</div>

  
<!-- Fin del Modal -->

<a>
<%= link_to(image_tag("twitter_64.png"), "https://twitter.com/CinexVe/", :target => "_blank") %>
</a>


<a>
<%= link_to(image_tag("facebook_64.png"), "https://www.facebook.com/cinexve", :target => "_blank") %>
</a>

<a>
<%= link_to(image_tag("Youtube.png"), "https://www.youtube.com/user/CanalCinexVe", :target => "_blank") %>
</a>



</div>


<!-- Pie de pagina con nombre de creador --> 

<dl class="sub-nav">
  <dt>Creado por:</dt>
  <dd class="active"><a href="#">Rogger Herrera</a></dd>
  <dd><a href="#">RAHC</a></dd>
  <dd><a href="#">2019</a></dd>
</dl>




