<h1>Tickets</h1> 


<!-- Grupo de botones redondos -->
<ul class="button-group round">
  <li><a href="#"><%= link_to 'Abiertos', abierto_path("abierto"), class: 'button' %></a></li>
  <li><a href="#"><%= link_to 'Cerrados', cerrado_path("cerrado"), class: 'button' %></a></li>
  <li><a href="#"><%= link_to 'Nuevo Ticket', new_trouble_path, class: 'button' %></a></li>
  <li><a href="#"><%= link_to 'Todos', troubles_path, class: 'button' %></a></li>
</ul>

<!-- Fin grupo de botones redondos -->




<%= image_tag "cliente.jpg" %>











